.spinner-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
}


.img-prodotto{
    height: 300px;

}

.btn-add{
    background-color: rgb(248, 249, 250);
    border: 0;
}

.fa-briefcase{
    cursor: pointer;
}

.descrizione{
    display: inline-block;
    width: 300px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}